# Logs
logs
*.log

# Dependencies
node_modules

# Build
dist
build

# Environment variables
.env
.env.*

# Python
venv
__pycache__/
*.pyc

# Database
*.sqlite
*.db

# Local data
users.json
database.json
data.json

# Coverage
coverage

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store 

# Ignorar arquivos de teste do banco
test_connection.py