.dashboard-overview {
	padding: 0 20px;
	height: 100%;
}

.middle-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.middle-section-left {
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
}
